Repository capstone-coal/pycoal, pull requests merged in 2019-11, with the labels that each got.

#191 Issue 188: Remove repeated calculation for spectral angles from SAM algorithm
  pycoal/mineral.py
Labels: classification, enhancement, mineral

#197 Issue 163
  README.rst
Labels: documentation

#181 ISSUE-177 Parallelize SAM algorithm in mineraly.py using Joblib
  examples/constants.py
  examples/example_mineral.py
  pycoal/mineral.py
  setup.py
Labels: enhancement, mineral

#199 add first config test frame
  pycoal/config.ini
  pycoal/mineral.py
  pycoal/tests/mineral_test.py
Labels: enhancement, testing

#201 Update config file logic, tests
  examples/example_mineral.py
  pycoal/cli/mineral.py
  pycoal/mineral.py
  pycoal/tests/mineral_test.py
  pycoal/tests/test_config_files/config_test.ini
  pycoal/tests/test_config_files/config_test_joblib.ini
  pycoal/tests/test_config_files/config_test_wrong_algo.ini
  pycoal/tests/test_config_files/config_test_wrong_impl.ini
Labels: enhancement

#203 ISSUE-202 SAM_joblib update
  pycoal/config.ini
  pycoal/mineral.py
  pycoal/resampler.py
Labels: enhancement, mineral

#206 ISSUE-204 Activate test_intersect_proximity for TravisCI
  .travis.yml
  Dockerfile
  pycoal/environment.py
  pycoal/tests/environment_test.py
Labels: enhancement, environment, testing

#208 ISSUE-207 Add Hypercube Display (compliment RGB image generation) to mineral.py
  .travis.yml
  examples/README.rst
  examples/example_mineral.py
  pycoal/config.ini
  pycoal/mineral.py
  pycoal/tests/mineral_test.py
  pycoal/tests/test_config_files/config_test.ini
  setup.py
Labels: enhancement, mineral
